* {
  padding: 0;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  background-color: #f9f9f9;
}

.footer {
  background-color: #000000;
  text-align: center;
  overflow: hidden;
  max-height: 100px;
}

.footer img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  object-position: center;
}